#-----------------------------------------------------------------------------
#
# Alarm Display Service File for Systemd
#
# Copyright (C) 2018 Florian Pose
#
# This file is part of Alarm Display.
#
# Alarm Display is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Alarm Display is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with
# Alarm Display. If not, see <http://www.gnu.org/licenses/>.
#
#-----------------------------------------------------------------------------

[Unit]
Description=Alarm Display
Conflicts=getty@tty7.service
Conflicts=xdm.service

[Service]
ExecStart=/usr/bin/xinit /home/pi/alarmdisplay/alarmdisplay.py -- -nocursor
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=alarmdisplay
SyslogFacility=daemon
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

#-----------------------------------------------------------------------------
